/* header */

header .container {
    height: 50px;
    color: #1a232f;
    font-size: 13px;
}

header .border-bottom {
    border-color: #d7eaff !important;
}

/* navbar */

nav.navbar.main-navbar {
    height: 80px;
}

nav.navbar.main-navbar {
    height: 57px;
}

nav.navbar.main-navbar .dropdown-toggle:after {
    border: solid #1a232f;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    padding: 2px;
} 

nav .nav-link {
    color: #1a232f !important;
}

nav .nav-item {
    color: #1a232f !important;
}

nav .dropdown-item {
    color: #1a232f !important;
}

.navbar-nav {
    font-size: 14px !important;
} 

 nav.navbar.main-navbar .navbar-toggler {
    border: none;
    outline: 0;
    box-shadow: none;
}

 nav.navbar.main-navbar .navbar-toggler-icon {
    background-image: url(../assets/hamburger.svg);
    width: 20px;
    height: 20px;
}

nav.navbar.main-navbar .dropdown-menu {
    top: 100%;
    margin-top: -1px;
    border-radius: 6px;
}

/* main-page */

.discord-header-button {
    font-size: 12px !important;
    padding: 6px 10px !important;
}

#main-page .main-img {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: auto !important;
    width: auto !important;
    max-width: 50%;
    max-height: 95%;
    z-index: 46;
}

#main-page .col-image-wrapper {
    width: fit-content;
    height: 100%;
}

#main-page .row .col-image-wrapper {
    position: absolute;
    bottom: 0;
    z-index: 0;
    opacity: 0.2;
}

#main-page .image-wrapper {
    height: 360px;
}

#main-page .col-image-wrapper figure {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
}

#main-page .shape {
    width: 241px;
    right: 0;
    bottom: -240px;
    z-index: 0;
}

/* vision */

#vision .item .count {
    font-size: 90px;
}

#vision .item .type {
    font-size: 18px;
}

#vision .item {
    width: 233px;
    height: 183px;
    border-radius: 4px;
}

#vision .item:nth-child(1) {
    color: #5b94d7;
    background-color: rgba(221, 236, 251, 0.4);
}

#vision .item:nth-child(2) {
    color: #5cc19a;
    background-color: rgba(156, 238, 204, 0.4);
}

#vision .item:nth-child(3) {
    color: #dbca68;
    background-color: rgba(238, 226, 156, 0.4);
}

#vision .item:nth-child(4) {
    color: #b95e73;
    background-color: rgba(238, 156, 156, 0.4);
}

/* labs */

#labs .card .card-text {
    margin-bottom: 10px;
}

#labs .card img {
    bottom: 30px;
}

#labs .card img:last-of-type {
    display: none;
}

/* schools */

#schools .shape img {
    width: 436px;
}

#schools .shape {
    width: 213px;
    right: 0;
    bottom: -260px;
    z-index: 0;
}

/* join */

#join .indicators .card img {
    bottom: 30px;
}

#join .indicators .card img:last-of-type {
    display: none;
}


#join .card {
    grid-template-columns: auto;
    max-width: 300px;
}

#join img {
    width: 21px;
}

/* special */

#special .shape {
    width: 435px;
    height: 435px;
    left: -221px;
    top: -190px;
    z-index: -1;
}

#special .shape img {
    width: 100%;
    height: 100%;
}

#special .border-bottom {
    border-color: #d7eaff !important;
}

/* newsletter */

.bg-newsletter {
    background-color: #d7eaff !important;
}

